<ion-view view-title="Tambah Mahasiswa">
  <ion-content>
    <div class="list">

		<label class="item item-input">
			<input type="text" ng-model="mahasiswa.nama" placeholder="Nama">
		</label>
		<label class="item item-input">
			<input type="text" ng-model="mahasiswa.kelas" placeholder="Kelas">
		</label>
		<label class="item item-input">
			<input type="text" ng-model="mahasiswa.jurusan" placeholder="Jurusan">
		</label>
		<label class="item item-input">
			<input type="text" ng-model="mahasiswa.email" placeholder="email">
		</label>


		<button class="button button-positive button-block" ng-click="post_mahasiswa(mahasiswa);">
			Save
        </button>
	</div>
  </ion-content>
</ion-view>